<h2>Login</h2>
@if (registrationSuccess) {
<p class="success-message">Registration successful. Please log in.</p>
}
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Email:</label>
    <input type="email" formControlName="email" />
    @if (isEmailValid) {
    <p style="color: red">{{ emailErrorMessage }}</p>
    }
  </div>

  <div>
    <label>Password:</label>
    <input type="password" formControlName="password" />
    @if (isPasswordValid) {
    <p style="color: red">{{ passwordErrorMessage }}</p>
    }
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
