<h2>Create Product</h2>

@if (serverError()) {
<p class="server-error">{{ serverError() }}</p>
}

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label>Name</label>
    <input type="text" formControlName="name" />
    @if (formControls['name'].invalid && (formControls['name'].dirty ||
    formControls['name'].touched)) {
    <p class="error">Name is required (min 2 characters).</p>
    }
  </div>

  <div>
    <label>Price (£)</label>
    <input type="number" step="0.01" formControlName="price" />
    @if (formControls['price'].invalid && (formControls['price'].dirty ||
    formControls['price'].touched)) {
    <p class="error">Price is required and must be 0 or greater.</p>
    }
  </div>

  <div>
    <label>Description</label>
    <textarea rows="4" formControlName="description"></textarea>
    @if (formControls['description'].invalid &&
    (formControls['description'].dirty || formControls['description'].touched))
    {
    <p class="error">Description is required (min 5 characters).</p>
    }
  </div>

  <div>
    <label>Upload image</label>
    <input type="file" accept="image/*" (change)="onFileSelected($event)" />
    @if (imageDataUrl()) {
    <div style="margin-top: 8px">
      <strong>Preview:</strong><br />
      <img [src]="imageDataUrl()!" alt="preview" width="160" />
    </div>
    }
  </div>
  <div>
    <label>
      <input type="checkbox" formControlName="bestSeller" />
      Mark as Best Seller
    </label>
  </div>

  <button
    type="submit"
    [disabled]="
      form.invalid || (!imageDataUrl() && !formControls['image'].value)
    "
  >
    Create
  </button>
  <a routerLink="/admin/dashboard">Cancel</a>
</form>
