<h2>Menu</h2>

@if (products().length > 0) { @for (product of products(); track product._id) {
<div>
  <h3>{{ product.name }}</h3>
  <p>{{ product.description }}</p>
  <p>£{{ product.price }}</p>
  <img [src]="getImageSrc(product)" [alt]="product.name" width="200" />
  <div style="margin-top: 8px">
    <button type="button" [routerLink]="['/products', product._id]">
      Details
    </button>
    @if (isAdmin) {
    <button type="button" (click)="removeProduct(product._id)">
      Remove from Menu
    </button>
    }
  </div>
  <hr />
</div>
} } @else {
<p>Loading products...</p>
}
