<header>
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/menu" routerLinkActive="active">Menu</a>

    @if (!isLoggedIn) {
    <a routerLink="/auth/login" routerLinkActive="active">Login</a>
    <a routerLink="/auth/register" routerLinkActive="active">Register</a>
    } @else {
    <span>Welcome, {{ userEmail }}</span>
    <button (click)="logout()">Logout</button>
    <a routerLink="/book" routerLinkActive="active">Book a Table</a>

    @if (!isAdmin) {
    <a routerLink="/bookings" routerLinkActive="active">My Bookings</a>
    } @if (isAdmin) {
    <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
    } }
  </nav>
</header>
